
.containerModal {
    background-color: #00000090;
    height: 100vh;
    position: absolute;
    width: 1900px;
    margin: auto;
    z-index: 1000;
    overflow-y: auto;
    .content {
        max-width: 1920px;

        .center-card {
            background-color: white;
            padding: 50px 200px;
            height: 100%;
            .cards-modal {
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;
                flex-direction: column;
                gap: 40px;

                .close-modal {
                    transform: translateX(-700px);
                    font-size: 30px;
                    cursor: pointer;
                }
                .card-modal {
                    width: 500px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    padding: 20px;
                    overflow: hidden;
                    border: 1px solid silver;

                    .image {
                        img {
                            width: 400px;
                            margin-bottom: 50px;
                        }
                    }
                    .text-content-card-modal {
                        padding-top: 20px;
                        width: 400px;
                        word-break: break-all;
                        overflow: hidden;

                        span {
                            font-size: 16px;
                            font-weight: bold;
                            font-style: italic;
                            color: rgb(139, 138, 138);
                            margin-right: 20px;
                            
                        }
                        .name {
                            margin-bottom: 20px;
                        }
                        .model {
                            margin-bottom: 20px;
                        }
                        .country {
                            margin-bottom: 20px;
                        }
                        .description {
                            margin-bottom: 20px;
                        }
                        .price {
                            margin-bottom: 20px;
                            font-size: 24px;
                        }
                        button {
                            padding: 5px 20px;
                            width: 420px;
                            font-size: 14px;
            
                            color: white;
                            background-color: rgba(6, 10, 255, 0.705);
                            border: none;
                            cursor: pointer;
                            transition: all 0.4s;
            
                            .icon-btn {
                                margin-left: 10px;
                            }
                        }
            
                        button:hover {
                            background-color: rgba(0, 0, 128, 0.8);
                            box-shadow: 0 4px 8px rgba(6, 10, 255, 0.705);
            
                        }
                        button:last-child{
                            background-color: red;
                            margin-top: 10px;
                        }
                        button:last-child:hover {
                            background-color: rgb(131, 1, 1);
                        }
                    }
                }
            }
        }

    }
    
}

.containerModal::-webkit-scrollbar {
    width: 0px;
}